body {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    font-family: "Roboto", Arial, Helvetica, sans-serif ;
}

.logo,
.text,
.title,
.right-links,
.sign-up,
footer,
.placeholder,
.cta-msg {
    color: white;
}

.logo {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 10px;
    padding: 8px;
}

.title {
    font-size: 48px;
    margin-bottom: -10px;
}

.text {
    font-size: 18px;
}

.placeholder {
    display: flex;
    background-color: grey;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    background: url(./images/pexels-as-kacar-11002226.jpg);
    background-size: 100%;
    min-width: 300px;
    min-height: 300px;
    border-radius: 15px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    flex-shrink: 0;
    background-color: #1f2937;
}

.right-links {
    display: flex;
    flex-shrink: 0;
}

.intro-section {
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 100px;
}

.sign-up {
    background-color: #3882f6;
    padding: 5px 15px;
    border-radius: 10px;
    border: #1f2937;
    font-size: large;
}

#white-border {
    border: 2px solid white;
    background-color: #3882f6;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    font-size: large;
}

.mid-title {
    text-align: center;
    padding: 32px;
    background-color: white;
    margin-bottom: -30px;
}

.info-section {
    display: flex;
    background-color: white;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 0 0;
}

.info-image {
    display: flex;
    border: 5px solid #3882f6;;
    border-radius: 15px;
    max-width: 200px;
    max-height: 200px;
}

.quote-section {
    padding: 100px;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    gap: 10px;
}

.quote {
    font-size: 30px;
    font-family: 'Helvetica';
    font-style: italic;
    font-weight: 100;
}

.quote-author {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 600;
}

.cta-section {
    display: flex;
    padding: 100px;
    background-color: white;
}

.cta-msg {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #3882f6;
    background-color: ;
    padding: 20px;
    border-radius: 10px 0 0 10px;
}

.button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 0px 10px 10px 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;

}